.home_container {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
}

.home__inp {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.home__table {
  padding: 40px 20px;
}
.dash-table-container {
  /* width: 50%; */
  overflow-y: scroll;
}
