.sidebar {
  padding-top: 60px;
  background-color: brown;
  position: relative;
  top: 0;
  bottom: 0;
  width: 15%;
}
.sidebar_nav {
  display: flex;
  flex-direction: column;
}
.sidebar_nav a {
  text-align: center;
  padding: 10px 0;
}
.sidebar_nav a:hover {
  background-color: blanchedalmond;
  color: #000;
}
